.blue {
  background-color: rgb(64, 64, 255);
}
.green{
  background-color: green;
}
.brown{
  background-color: #7F5512;
}
.sqr {
  height: 100px;
}
.col-sm-1{
  padding: 0 !important;
}

#game {
  display: none;
}
img {
  height: 100px;
  width: 100px;
}
