.blue {
  background-color: rgb(64, 64, 255);
}
.green{
  background-color: green;
}
.brown{
  background-color: #7F5512;
}
.sqr {
  height: 100px;
}
.col-sm-1{
  padding: 0 !important;
}
.darkGreen{
  background-color: darkgreen;
}

#game {
  display: none;
}
img {
  height: 100px;
  width: 100px;
}
#fight{
  display: none;
  text-align: center;
  background-color: black;
  width: 1200px;
  height: 1000px;
  color: white;
}
#fight h1 {
  color: red;
}

#fight img {
  height: 400px;
  width: auto;
}
#status {
  display: none;
}
